<div class="card shadow CardCustomStyle @CardClass">
    @if(Header is not null)
    {
        <div class="card-header @HeaderClass" style="background-color: #acc1d0">
            @Header
        </div>
    }
    else if (!string.IsNullOrEmpty(Title))
    {
        <div class="card-header" style="background-color: #acc1d0">
            <div class="h2">
                @Title
            </div>
        </div>
    }

    @if(Body is not null)
    {
        <div class="card-body @BodyClass" style="background-color: white;">
            @Body
        </div>
    }

    @if(Footer is not null)
    {
        <div class="card-footer @FooterClass">
            @Footer
        </div>
    }
</div>

<style>
    .CardCustomStyle {
        border-color: black;
    }

    @@media(max-width: 991.98px)
    {
        .CardCustomStyle {
            @CardMobileStyle
        }
    }
    @@media(min-width: 992px)
    {
        .CardCustomStyle {
            @CardStyle
        }
    }
</style>

@code {
    [Parameter]
    public RenderFragment? Header { get; set; } = null;

    [Parameter]
    public RenderFragment? Body { get; set; } = null;

    [Parameter]
    public RenderFragment? Footer { get; set; } = null;

    [Parameter]
    public string CardClass {get; set;} = string.Empty;

    [Parameter]
    public string CardStyle {get; set;} = string.Empty;

    [Parameter]
    public string CardMobileStyle {get; set;} = string.Empty;

    [Parameter]
    public string HeaderClass {get; set;} = string.Empty;


    [Parameter]
    public string BodyClass {get; set;} = string.Empty;

    [Parameter]
    public string FooterClass {get; set;} = string.Empty;

    [Parameter]
    public string Title { get; set; } = string.Empty;

}