<div class="card @CardClass">
    @if(Header is not null)
    {
        <div class="card-header @HeaderClass" style="background-color: #7395AE">
            @Header
        </div>
    }

        @if(Body is not null)
    {
        <div class="card-body @BodyClass" style="background-color: #D1E8E2;">
            @Body
        </div>
    }

        @if(Footer is not null)
    {
        <div class="card-footer @FooterClass">
            @Footer
        </div>
    }
</div>

@code {
    [Parameter]
    public RenderFragment? Header { get; set; } = null;

    [Parameter]
    public RenderFragment? Body { get; set; } = null;

    [Parameter]
    public RenderFragment? Footer { get; set; } = null;

    [Parameter]
    public string CardClass {get; set;} = string.Empty;

    [Parameter]
    public string HeaderClass {get; set;} = string.Empty;

    [Parameter]
    public string BodyClass {get; set;} = string.Empty;

    [Parameter]
    public string FooterClass {get; set;} = string.Empty;

}