@page "/"

<PageTitle>Grant Alb</PageTitle>

<div class="d-lg-none">
    <WelcomeBar />
    <br />
    <QuickFacts />
    <br />
    <AboutMeBlurb />
</div>
<div class="d-none d-lg-flex" style="height: 22rem;">
    <div class="w-25" style="height: 100%;">
        <QuickFacts />
    </div>
    <div class="w-75" style="height: 100%;">
        <WelcomeBar />
        <br />
        <AboutMeBlurb />
    </div>
</div>
<br />
<div class="d-none d-lg-flex justify-content-evenly mt-3" style="min-height: 20rem;">
    <div class="w-50">
        <EmployeementHistory />
    </div>
    <div class="w-50">
        <CodingJourney />
    </div>
</div>
<div class="d-lg-none justify-content-evenly mt-3" style="min-height: 20rem;">
    <EmployeementHistory />
    <br />
    <CodingJourney />
</div>
<br />
<CareerAspirations />
<br />
<div class="d-none d-lg-flex justify-content-evenly mt-3" style="min-height: 20rem;">
    <div class="w-50">
        <LeadershipPositions />
    </div>
    <div class="w-50">
        <PersonalProjects />
    </div>
</div>
<div class="d-lg-none justify-content-evenly mt-3" style="min-height: 20rem;">
    <LeadershipPositions />
    <br />
    <PersonalProjects />
</div>
<br />