@page "/"

<PageTitle>Grant Alb</PageTitle>

<div class="d-flex">
    <div class="w-25">
        <QuickFacts />
    </div>
    <div class="w-75">
        <WelcomeBar />
        <br />
        <AboutMeBlurb />
    </div>
</div>
<br />
<div class="d-flex justify-content-between mt-3" style="min-height: 20rem;">
    <div class="w-50">
        <EmployeementHistory />
    </div>
    <div class="w-50">
        <CodingJourney />
    </div>
</div>