@page "/"

<PageTitle>Grant Alb</PageTitle>

<Page>
    <div class="d-flex">
        <div class="w-75">
            <WelcomeBar />
            <br />
            <AboutMeBlurb />
        </div>
        <div class="w-25">
            <QuickLinks />
            <br />
            <QuickFacts />
        </div>
    </div>
</Page>