@page "/"

<PageTitle>Grant Alb</PageTitle>

<WelcomeBar />
<div class="row">
	<div class="col-12 col-md-6 col-lg mt-3">
		<QuickFacts />
	</div>
	<div class="col-12 col-md-6 col-lg mt-3">
		<ClassesTaken />
	</div>
	<div class="col-12 col-md-12 col-lg mt-3">
		<CareerAspirations />
	</div>
</div>
<div class="row">
	<div class="col-12 col-lg-6 mt-3">
		<PersonalProjects />
	</div>
	<div class="col-12 col-lg-6 mt-3">
		<EmployeementHistory />
	</div>
	<div class="col-12 col-lg-6 mt-3">
		<SchoolProjects />
	</div>
	<div class="col-12 col-lg-6 mt-3">
		<LeadershipPositions />
	</div>
</div>