@page "/"

<PageTitle>Grant Alb</PageTitle>

<Page>
    <div class="d-flex">
        <div class="w-75">
            <WelcomeBar />
            <div class="d-flex">
                <QuickFacts />
                <AboutMeBlurb />
            </div>
        </div>
        <div class="w-25">
            <QuickLinks />
        </div>
    </div>
</Page>