<Card CardClass="ms-auto me-auto" CardStyle="width: 95%;">
    <Header>
        <div class="h2">
            Who is Grant Albright
        </div>
    </Header>
    <Body>
        Here lies Grants blurb about him that he will eventually write. I have no clue why Grant is writing in the 3rd person but it is getting kinda late and Grant should go to bed soon.
    </Body>
</Card>