<Card CardClass="ms-auto me-auto" CardStyle="width: 95%;" Title="Who is Grant Albright">
    <Body>
        <Tab />I grew up in Platte City Missouri with my parents and two sisters. In high school, I was very involved with band, robotics, and church. This has since carried over into my adult life; studying computer science and math helps scratch the same problem-solving-itch that robotics did and I am still involved in church and faith organizations on campus (which also scratches my music itch as well). If I’m not doing any of that, you can usually catch me spending time with family and friends, playing some board/card/video game, listening to music, or reading a book.
    </Body>
</Card>