<Card CardClass="h-100" Title="Who is Grant Albright">
    <Body>
        <Tab />I grew up in Kansas City Missouri with my parents and two sisters. Growing up I was very involved with band and robotics. My time in robotics is why I chose to study computer science and math. Outside of work and school, I enjoy spending time with my friends and family, playing music, playing board games, and reading books.
    </Body>
</Card>