<Card Title="Career Aspirations">
	<Body>
		<p>
			<Tab />After graduation, I am hoping to be in a job where I get to use my programming knowledge to solve math-based problems. My current plan is to go into data science post-graduation as that is a great combination of problem solving and programming. I eventually want to end up leading a small team of developers in solving these types of problems. My goal is to be the guy where my co-workers can depend on me for both my analytical expertise as well as non-technical skills.
		</p>
		<p>
			<Tab />After working in a technical field for a couple decades, I’m hoping to retire from industry and go into teaching math at a high school level. I’ve always enjoyed working with and teaching younger students while I was in high school and I don’t think that will change when I’m a lot older. There is satisfaction helping a younger generation fill in the shoes you left behind. I’ve already done that after graduating high school and hearing about the robotics team doing well (and according to my sisters, I’m still talked about).
		</p>
	</Body>
</Card>