<Card Title="Classes Taken">
	<Body>
		<ul>
			<li>Algorithms</li>
			<li>Combinatorics and Graph Theory</li>
			<li>Computer Science Theory (In progress)</li>
			<li>Differential Equations (In progress)</li>
			<li>Data Structures</li>
			<li>Intro to Embedded Systems and Design (In progress)</li>
			<li>Foundations of Math (In progress)</li>
			<li>Introduction to Databases</li>
			<li>Linear Algebra</li>
			<li>Physics 1 & 2</li>
		</ul>
	</Body>
</Card>
