<Card Title="Employement History" CardStyle="width: 95%;">
	<Body>
		<div class="h5"><u>Nucor-Yamato Software Developer Co-op Summer/Fall 2022</u></div>
		<ul>
			<li>Worked as a full stack developer using .NET Blazor and SQL.</li>
			<li>Responsibilities: building, documenting, and maintaining apps for the employees out in the mill.</li>
			<li>
				Projects:
				<ul>
					<li>
						Rewrote the internal employee homepage.
						<ul>
							<li>Fully mobile friendly.</li>
							<li>Wrote two different tools for aiding in editing data, a navigational links manager and a cafeteria specials editor.</li>
						</ul>
					</li>
					<li>Weather application that highlighted dangerous temperatures. </li>
					<li>
						Data dashboard on a Kiosk-like display.
						<ul><li>Also coded a Raspberry Pi To automatically display the application to a TV screen. </li></ul>
					</li>
				</ul>
			</li>
		</ul>

		<div class="h5"><u>Residential Assistant 2021-2022</u></div>
		<ul>
			<li>Worked as a Residential Assistant for the Thomas Jefferson dorms at Missouri S&T.</li>
			<li>
				Responsibilities
				<ul>
					<li>Maintaining personal relationships with the residents on my floor.</li>
					<li>Planning and running events for my building’s residents.</li>
					<li>Enforcing university building policies.</li>
					<li>Secretarial duties – working the reception desk, processing mail, etc.</li>
				</ul>
			</li>
		</ul>

		<div class="h5"><u>Price Chopper Seasonal Produce Clerk 2020-2022</u></div>
		<ul>
			<li>
				Responsibilities
				<ul>
					<li>Stocking, facing, and cleaning the department.</li>
					<li>Assisting customers.</li>
					<li>
						Closing the department.
						<ul><li>I was the only one maintaining the department for the last 4 hours of my shift.</li></ul>
					</li>
				</ul>
			</li>
		</ul>

		<div class="h5"><u>Price Chopper Utility Clerk 2019-2020</u></div>
		<ul>
			<li>
				Responsibilities
				<ul>
					<li>
						Assisting customers – bagging their groceries, helping them to their car, etc.
					</li>
					<li>Store-wide janitorial duties.</li>
					<li>Pulling in carts.</li>
					<li>Training new utility clerks.</li>
				</ul>
			</li>
		</ul>
	</Body>
</Card>