<Card Title="Leadership Positions" CardStyle="width: 95%; height: 100%;">
	<Body>
		<div class="h5"><u>Vex Robotics Team Lead – junior and senior year of high school</u></div>
		<ul>
			<li>
				Qualified for the Nationals tournament both junior and senior year.
			</li>
			<li>Qualified for the Worlds in 2020, my senior year (was canceled due to covid).</li>
			<li>Additional responsibilities included community outreach, running scrimmages, and general maintenance of our robotics room.</li>
		</ul>
		<br />
		<div class="h5"><u>National Honor Society Treasurer</u></div>
		<ul>
			<li>Spoke at our initiation ceremony.</li>
			<li>Spoke at the National Junior Honor Society initiation ceremony.</li>
		</ul>
		<br />
		<div class="h5"><u>Baptist Student Union Leadership Team</u></div>
		<ul>
			<li>Lots of event planning and running.</li>
			<li>Leading Bible studies.</li>
			<li>Assisting in building maintenance.</li>
		</ul>
	</Body>
</Card>
