<Card Title="Leadership Positions" CardStyle="width: 95%; height: 100%;">
	<Body>
		<p>
			<Tab />In highschool I had many different leadership positions. In robotics, I co-led the 9065P robot as well as some additional responsibilities for the organization. Some of those additional responsibilities included community outreach, running scrimmages, and maintenance in our robotics room. While I was in the National Honor Society, I got the opportunity to be the treasurer my senior year. On top of treasurer responsibilities, I also got the opportunity to help with the initiation ceremony of new members in both our organization as well as speak at the National Junior Honor Society initiation ceremony. In my youth group at church, I got to lead a bible study at church camp my junior and senior year.
		</p>
		<p>
			<Tab />After I graduated, I’ve gotten some more opportunities for leadership positions. My sophomore year I got to be an Residential Assistant. While not a leadership position per say, a lot of my responsibilities reflected that of a leader. I had to organize and run events as well as manage a floor of the dorms. See the “Employment History” section for more on this. I’ve also been on the leadership team at the Baptist Student Union since my sophomore year. My responsibilities there include planning and running events, leading Bible studies, caretaking of our building, and in-general being a man my peers know they can go to for any help.
		</p>
	</Body>
</Card>
