<Card Title="Personal Projects" CardStyle="width: 95%;">
	<Body>
		<div class="h5"><u>Logging Api</u></div>
		<ul>
			<li>Built using .NET Core 7’s simple API, SQLite, and Docker.</li>
			<li>
				Logs events and errors of any application via HTML requests.
				<ul><li>This allows for any future project to be able to use this API regardless of the infrastructure of the project.</li></ul>
			</li>
			<li>Dockerized for easier portability and management.</li>
			<li>This will be used in my home automation system to aid in debugging.</li>
		</ul>
		<br />
		<div class="h5"><u>“Sniping” Discord Bot</u></div>
		<ul>
			<li>Built using Python and SQLite</li>
			<li>
				Keeps track of users “sniping” other users.
				<ul><li>“Sniping” is when someone gets a picture of someone else without them noticing.</li></ul>
			</li>
			<li>Includes admin commands for basic CRUD operations.</li>
			<li>Kept track of all the snipes in a SQLite database using a Raspberry Pi.</li>
			<li>The Baptist Student Union used the discord bot for their annual Sniping season this past fall and the bot was a success.</li>
		</ul>
		<br />
		<div class="h5"><u>Mafia Discord Bot</u></div>
		<ul>
			<li>Built using Python.</li>
			<li>Aids in a game called Mafia by assigning roles to players. This decreases our time spent manually assigning roles via playing cards by having a computer do it.</li>
			<li>Tracks which users have joined or left the game.</li>
			<li>Provides commands to edit which roles are included in each game.</li>
		</ul>
	</Body>
</Card>
