@inject NavigationManager _NavMan

<div class="d-flex justify-content-evenly h-100">
    <a class="btn btn-primary me-2 mt-auto mb-auto" href="https://www.linkedin.com/in/grant-albright/">
        LinkedIn
    </a>
    <a class="btn btn-primary me-2 mt-auto mb-auto" href="https://github.com/DarknessNotFound/">
        Github
    </a>
    <a class="btn btn-primary me-2 mt-auto mb-auto d-none d-md-block" href="https://hub.docker.com/u/darknessnotfound">
        Dockerhub
    </a>
</div>