<Card Title="Fast Facts" CardClass="h-100">
    <Body>
        <ul>
            <li><b>Majors</b>: BS in Computer Science; BS in Applied Mathematics</li>
            <li><b>School</b>: Missouri University of Science and Technology</li>
            <li><b>GPA</b>: 3.46</li>
            <li><b>Status</b>: Junior</li>
            <li><b>Anticipated Graduation</b>: May ‘25</li>
            <li><b>Languages</b>: C#, C++, Python</li>
            <li><b>Frameworks</b>: .NET Blazor</li>
            <li><b>Soft Skills</b>: Communication, Focus, Public Speaking</li>
        </ul>
    </Body>
</Card>