<Card>
    <Header>
        <div class="h2 text-center">
            Quick Links
        </div>
    </Header>
    <Body>
        <div class="d-flex flex-column justify-content-evenly">
            <div class="btn btn-outline-primary mb-2 ms-auto me-auto">
                LinkedIn
            </div>
            <div class="btn btn-outline-primary mb-2 ms-auto me-auto">
                Github
            </div>
            <div class="btn btn-outline-primary mb-2 ms-auto me-auto">
                Dockerhub
            </div>
        </div>
    </Body>
</Card>