<div class="d-flex justify-content-evenly">
    <div class="btn btn-primary me-2">
        LinkedIn
    </div>
    <div class="btn btn-primary me-2">
        Github
    </div>
    <div class="btn btn-primary me-2">
        Dockerhub
    </div>
</div>