<Card>
    <Header>
        <div class="h2">
            Fast Facts
        </div>
    </Header>
    <Body>
        <ul>
            <li>Something</li>
            <li>Something</li>
            <li>Something</li>
            <li>Something</li>
        </ul>
    </Body>
</Card>