@inject NavigationManager _NavMan

<div class="d-flex justify-content-evenly">
    <a class="btn btn-success me-2" href="https://www.linkedin.com/in/grant-albright/">
        LinkedIn
    </a>
    <a class="btn btn-success me-2" href="https://github.com/DarknessNotFound/">
        Github
    </a>
    <a class="btn btn-success me-2" href="https://hub.docker.com/u/darknessnotfound">
        Dockerhub
    </a>
</div>