<Card Title="School Projects">
	<Body>
		<ul>
			<li>Placeholder</li>
			<li>Placeholder</li>
			<li>Placeholder</li>
			<li>Placeholder</li>
			<li>Placeholder</li>
			<li>Placeholder</li>
		</ul>
	</Body>
</Card>

@code {

}
