<div class="alert alert-primary text-black shadow" style="border-color: black; background: #acc1d0;">
    <div class="h2">Welcome!</div>
    <p>
        I’m Grant Albright, an ambitious student looking to solve complex real-world problems using a combination of programming and math. I find deep satisfaction in solving problems, especially the ones that require some time, effort, and a bit of creativity. In high school, I was involved in robotics leading to me studying computer science and math in university. Outside of school and work, I enjoy spending time with family and friends, playing board games, playing music, and reading books.
    </p>
</div>