<div class="alert alert-primary ms-auto me-auto text-black" style="width: 95%;">
    <div class="h3">Welcome!</div>
    <p>I’m Grant Albright, a student at Missouri S&T currently studying both Computer Science and Mathematics. I’m an ambitious student looking to solve complex real-world problems using math as my pen and programming as my ink. </p>
</div>