@inject NavigationManager _NavMan

<div class="container-fluid d-flex shadow" style="background-color: #D4CDF4; border-bottom-color: black;">
    <div class="logo-container me-3">
        <object data="logo.svg" width="100" height="50"/>
    </div>
    <div class="mt-1 mb-1">
        <QuickLinks />
    </div>
    <div class="ms-auto mt-1 mb-1">
        <a href="https://github.com/DarknessNotFound/MyWebsite" class="btn btn-success me-2">
            Site Source Code
        </a>
    </div>
</div>