@inject NavigationManager _NavMan

<div class="container-fluid d-flex shadow" style="background-color: #acc1d0; border-bottom-color: black;">
    <div class="logo-container me-3">
        <object data="logo.svg" width="100" height="50"/>
    </div>
    <div class="d-flex justify-content-evenly ms-auto ms-sm-0">
        <a class="btn btn-primary me-2 mt-auto mb-auto" href="https://www.linkedin.com/in/grant-albright/">
            LinkedIn
        </a>
        <a class="btn btn-primary me-2 mt-auto mb-auto" href="https://github.com/DarknessNotFound/">
            Github
        </a>
        <a class="btn btn-primary me-2 mt-auto mb-auto d-none d-md-block" href="https://hub.docker.com/u/darknessnotfound">
            Dockerhub
        </a>
    </div>
    <div class="ms-auto mt-auto mb-auto d-none d-sm-block">
        <a href="https://github.com/DarknessNotFound/MyWebsite" class="btn btn-primary me-2">
            Site Source Code
        </a>
    </div>
</div>