@inject NavigationManager _NavMan

<div class="container-fluid d-flex" style="background-color: rgba(175, 175, 175, 0.35);">
    <div class="logo-container me-3">
        Insert Logo Here
    </div>
    <div class="mt-1 mb-1">
        <QuickLinks />
    </div>
    <div class="ms-auto mt-1 mb-1">
        <a href="https://github.com/DarknessNotFound/MyWebsite" class="btn btn-primary me-2">
            Site Source Code
        </a>
    </div>
</div>